<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="pictures/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="pictures/my avatar.jpg" alt="">
    <p class="about">Hi, I'm Hojjat Allah Rezapour.You can contact me by <a  class="email" href="mailto:hojjat.rezapoor95@gmail.com">email</a>.</p>
    </div>
    
      {{>footer}}

</body>
</html>