<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    <link rel="icon" href="pictures/weather.png">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>With the help of this program, you can find the weather information of the desired area. 
    This site uses API of <a class="open" target="_blank" href="https://openweathermap.org/">OpenWeather</a> website.</p>
    </div>

      {{>footer}}
  </body>
</html>